.person-image {
    object-fit: cover;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin: auto;
    display: block;
}

.add-button {
    margin-top: 8px;
    margin-left: 70%;
}

.loading {
    text-align: center;
}